@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans';
  margin: 0;
  background: #F9F9F9;
}

.slide-deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 42em;
  max-height: 50em;
}

.slide {
  border: 1px solid lightgray;
  background: #F0F0F0;
  box-shadow: 1px 2px 3px gray;
  border-radius: 2px;
  padding: 15px;
  text-align: center;
  min-width: 300px;
  transform: scale(1.5);
}

.slide-navigation {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-position {
  margin: 10px;
