@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans';
  margin: 0;
  background: #F9F9F9;
}

.slide-deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 42em;
  max-height: 50em;
}

.slide {
  border: 1px solid lightgray;
  background: #F0F0F0;
  box-shadow: 1px 2px 3px gray;
  border-radius: 2px;
  padding: 30px 50px;
  min-height: 12em;
  flex-grow: 1;
  margin: 60px;
  font-size: 1.5em;
  width: 70%;
}

.slide-navigation {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-position {
  margin: 10px;
}

blockquote {
  color: gray;
  border-left: 2px solid lightgray;
  padding: 0px 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}
